#calculator{
   background-color: burlywood;
    box-shadow: 0 0 10px gray;
    height: 350px;
    margin: 200px auto;
    width: 256px;  
}


form{
    margin-left: 9px
}

p{
    color: beige;
    font-family:inherit;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 12px 0 10px;
}

#display{
    background-color: beige;
    border: 1px solid lightgray;
    box-shadow: 0 0 2px gray;
    font-family: cursive;
    font-size: 25px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 13px;
    text-align: right;
    width: 210px;
}


#keys{
    background-color: beige;
    border: 1px solid;
    color: cadetblue;
    font-family: cursive;
    font-weight: bold;
    height: 35px;
    margin: 0 5px 5px 11px;
    width: 39px;
}


#equal{
    background-color: beige;
    width:100px;
    height: 35px;
    margin-left: 10px;
    color: cadetblue;
    font-family: cursive;
    font-weight: bold;
    border: 1px solid
}
