#calculator{
   background-color: #FFFFFF;
    box-shadow: 0 0 10px gray;
    height: 350px;
    margin: 200px auto;
    width: 256px;  
}


form{
    margin-left: 9px
}

p{
    color: #387DEB;
    font-family:inherit;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 12px 0 10px;
}

#display{
    background-color: beige;
    border: 1px solid lightgray;
    box-shadow: 0 0 2px gray;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 13px;
    text-align: right;
    width: 210px;
}


#keys{
    background-color:#F4F4F4;
    border: 1px solid;
    color: cadetblue;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin: 0 5px 5px 11px;
    width: 39px;
}

#ce_key{
    background-color:#EB5F12;
    border: 1px solid #EB5F12;;
    color: #FFF7F3;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin: 0 5px 5px 11px;
    width: 39px;
    
}
#c_key{
    background-color:#2AB64B;
    border: 1px solid #2AB64B;
    color: #FFF7F3;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin: 0 5px 5px 11px;
    width: 39px;
}

#back_key{
    background-color:#6C84B4;
    border: 1px solid #6C84B4;
    color: #FFF7F3;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin: 0 5px 5px 11px;
    width: 39px;
}

#m-keys{
    background-color:#E98A04;
    border: 1px solid #E98A04;
    color: #FFF7F3;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin: 0 5px 5px 11px;
    width: 39px;
}
#equal{
    background-color: #387deb;
    border: 1px solid #387deb;
    color: #fefefe;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin-left: 10px;
    width: 100px;
    
}
